  <h2>会員一覧</h2>
  
  <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
    <thead class="align-bottom">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted %></td>
      </tr>
        <% end %>
    </tbody>
  </table>