// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.outer{
  text-align: center;
}
.inner{
  display: inline-block;
  text-align: left;
}

.fa-plus{
  color: #FAF0E6;
  text-decoration: none;
}