<!--カートないアイテム-->
<p>ショッピングカート</p>
<div>
  <table border="1">
    <!--テーブルトップ-->
    <tr bgcolor="#efefef">
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
      <td></td>
    </tr>
    <!--おしまい-->

    <!--カートない商品について-->
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td></td>
      </tr>
    <% end %>
    <!--おしまい-->
</table>
</div>
<!--おしまい-->