/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header, main, footer {
   font-family: "Shippori Mincho",serif;
 }

.image-container {
  position: relative; /* 相対位置指定 */
  text-align: center; /* テキストを中央揃え */
}
.main-text {
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上端を中央に配置 */
  left: 50%; /* 左端を中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  background-color: rgba(255, 255, 255, 0.7); /* 背景色（任意） */
  padding: 10px; /* テキスト周りの余白（任意） */
}
.text-content {
  text-align: center; /* テキストを中央揃え */
}

.new_items_container {
  display: flex; /* Flexbox を使用して子要素を横に並べる */
  flex-direction: row;
  justify-content: space-around;
  gap: 20px; /* 商品間の間隔を設定 */
}

.new_item {
  width: calc(33.33% - 20px); /* 横に並べる要素の幅を設定 */
  padding: 10px; /* 商品の周りに余白を追加 */
  border: 1px solid #ccc; /* 商品のボーダーを追加 */
}

.hover:hover {
  /* ホバーエフェクトのスタイルをここに追加 */
  background-color: lightgray; /* ホバー時の背景色を変更する例 */
  cursor: pointer; /* マウスカーソルをポインターに変更する例 */
  /* 他のホバーエフェクトのスタイルを追加できます */
}

footer {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}