<!--ジャンル一覧（ジャンル検索機能-->
<%= render "genre_list", genres: @genres %>
<!--おしまい-->

<!--商品詳細-->
<table>
  <tr>
    <td>商品画像</td>
    <td>
      <!--<strong>%= @item.name %></strong><br>-->
      <!--%= @item.caption %><br>-->
      <!--%= @item.price %>-->
    </td>
  </tr>
</table>
<!--おしまい-->

<!--カートに入れるところ-->
<%=form_with model: @cart_item do |f| %>
  <%= f.select :amount, [["個数選択"],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]] %>
  <%= f.submit"カートに入れる" %>
<% end %>
<!--おしまい-->